<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ev</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script type="text/javascript">
    (function() {
        var w = document.documentElement.clientWidth;
        if (w > 640) {
            w = 640
        }
        document.documentElement.style.fontSize = w / 7.5 + 'px';
        // document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
    })()
    </script>
</head>

<body>
    <div id="app"></div>
    <script src="{{config.HOT_RELOAD_RUL}}js/common.js"></script>
    <script src="{{config.HOT_RELOAD_RUL}}js/index.js"></script>
</body>

</html>
